In [1]:
import tensorflow as tf
from tensorflow.python.client import device_lib
import numpy as np
import pandas as pd
import sklearn
import sklearn.model_selection
import os

from sklearn import preprocessing as pp

from yahoo_fin import stock_info as si
import talib as tlb

# Price prediction

![logo](jupyter-logo.png)

# Utilisation du GPU

In [ ]:
print(device_lib.list_local_devices())

In [4]:
tf.config.list_physical_devices()

[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU'),
 PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [3]:
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

Num GPUs Available:  1

In [ ]:
sess = tf.compat.v1.Session(config=tf.compat.v1.ConfigProto(log_device_placement=True))

# Importation des données

In [3]:
possible_features = ['open', 'high', 'low', 'close', 'volume', 'close 7 days mean', 'close 14 days mean', 'close 20 days mean', 'close 50 days mean', 'ema', 'upperband', 'middleband', 'lowerband', 'rsi', 'macd', 'bop', 'obv', 'natr', 'sine', 'leadsine', 'CDLKICKINGBYLENGTH', 'CDLTAKURI', 'CDLHARAMI', 'CDLDOJI', 'CDLDRAGONFLYDOJI', 'CDLLONGLEGGEDDOJI']

In [4]:
"""Paramètres"""
ticker = 'KO' #choix de l'action à étudier

n = 60 #nombre de jours considérés par le modèle précédant la date voulue
days_predicted = 2 #on prévoit le prix de l'action à la date t + days_predicted
test_size = 0.2 #part des données réservée au test du modèle
shffl = False
features = possible_features #liste d'indicateurs financiers utiles à la prédiction

In [5]:
"""On charge la dataset"""

df = si.get_data(ticker) 
df.head()

                open      high       low     close  adjclose   volume ticker
1970-03-25  0.828125  0.842448  0.828125  0.828125  0.195108  1862400     KO
1970-03-26  0.828125  0.837240  0.828125  0.834635  0.196642   854400     KO
1970-03-30  0.835938  0.846354  0.835938  0.838542  0.197562  1008000     KO
1970-03-31  0.837240  0.837240  0.829427  0.835938  0.196949   710400     KO
1970-04-01  0.835938  0.838542  0.833333  0.837240  0.197256   940800     KO

In [6]:
df.drop(columns=['ticker', 'adjclose'], inplace = True)
df = df.astype(np.float64)
df.head()

                open      high       low     close     volume
1970-03-25  0.828125  0.842448  0.828125  0.828125  1862400.0
1970-03-26  0.828125  0.837240  0.828125  0.834635   854400.0
1970-03-30  0.835938  0.846354  0.835938  0.838542  1008000.0
1970-03-31  0.837240  0.837240  0.829427  0.835938   710400.0
1970-04-01  0.835938  0.838542  0.833333  0.837240   940800.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12939 entries, 1970-03-25 to 2021-07-09
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    12939 non-null  float64
 1   high    12939 non-null  float64
 2   low     12939 non-null  float64
 3   close   12939 non-null  float64
 4   volume  12939 non-null  float64
dtypes: float64(5)
memory usage: 606.5 KB

In [8]:
"""print les colonnes"""

df['open'].plot(figsize = (10, 10))

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [ ]:
df.dropna(inplace = True)

In [9]:
df.shape

(12939, 5)

# Calibrage de la fenêtre 

Pour certaines action, le cours ne se comporte pas du tout pareil selon la période, il faut ajuster la fenêtre, en selectionnant la durée souhaitée avec la commande
df = df.iloc[n_supp:,:] où n_supp est le nombre de jours supprimés. Cet ajustement est à faire manuellement pour chaque action, dans le cas du btc, on garde tout car la période 
est assez récente

In [10]:
df = df.iloc[8000:,:]

# Indicateurs d'analyse technique

In [11]:
"""Fonctions des indicateurs 
(yahoo_fin permet uniquement d'obtenir les 5 colonnes 'adjclose', 'volume', 'open', 'high', 'low')
"""
########Overlap Studies Functions


#Moyennes mobiles :
#7j
df['close 7 days mean'] = df['close'].rolling(window = 7).mean()
#14j
df['close 14 days mean'] = df['close'].rolling(window = 14).mean()
#20j
df['close 20 days mean'] = df['close'].rolling(window = 20).mean()
#50j
df['close 50 days mean'] = df['close'].rolling(window = 50).mean()


#On utilise le package talib pour avoir les indicateurs suivants

df['ema'] = tlb.EMA(df['close'], timeperiod=30)

df['upperband'], df['middleband'], df['lowerband'] = tlb.BBANDS(df['close'], timeperiod=5, nbdevup=2, nbdevdn=2, matype=0)

In [12]:
#######Momentum Indicator Functions : 

#RSI
df['rsi'] = tlb.RSI(df['close'], timeperiod=14)

#MACD
df['macd'], df['macdsignal'], df['macdhist'] = tlb.MACD(df['close'], fastperiod=12, slowperiod=26, signalperiod=9)

#balance of power
df['bop'] = tlb.BOP(df['open'], df['high'], df['low'], df['close']) #balance of power

In [13]:
##########Volume Indicator Functions
df['obv'] = tlb.OBV(df['close'], df['volume']) #on balance volume

In [14]:
##########Volatility Indicator Functions
df['natr'] = tlb.NATR(df['high'], df['low'], df['close'], timeperiod=14) #Normalized Average True Range

In [15]:
###########Price Transform Functions
#Ne sert a rien, on pert de l'information

In [16]:
###########Cycle Indicator Functions très important apparament
df['sine'], df['leadsine'] = tlb.HT_SINE(df['close'])

In [17]:
############## patern recognition

df['CDLKICKINGBYLENGTH'] = tlb.CDLKICKINGBYLENGTH(df['open'], df['high'], df['low'], df['close']) #bull / bear
df['CDLTAKURI'] = tlb.CDLTAKURI(df['open'], df['high'], df['low'], df['close'])
df['CDLHARAMI'] = tlb.CDLHARAMI(df['open'], df['high'], df['low'], df['close'])
df['CDLDOJI'] = tlb.CDLDOJI(df['open'], df['high'], df['low'], df['close'])
df['CDLDRAGONFLYDOJI'] = tlb.CDLDRAGONFLYDOJI(df['open'], df['high'], df['low'], df['close'])
df['CDLLONGLEGGEDDOJI'] = tlb.CDLLONGLEGGEDDOJI(df['open'], df['high'], df['low'], df['close'])

In [18]:
df.head(60)

,open,high,low,close,volume,close 7 days mean,close 14 days mean,close 20 days mean,close 50 days mean,ema,...,obv,natr,sine,leadsine,CDLKICKINGBYLENGTH,CDLTAKURI,CDLHARAMI,CDLDOJI,CDLDRAGONFLYDOJI,CDLLONGLEGGEDDOJI
2001-11-26,24.475000,24.545000,24.049999,24.155001,8057400.0,NaN,NaN,NaN,NaN,NaN,...,8057400.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-11-27,24.155001,24.190001,23.754999,23.995001,7262400.0,NaN,NaN,NaN,NaN,NaN,...,795000.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-11-28,23.605000,23.690001,23.285000,23.375000,9075800.0,NaN,NaN,NaN,NaN,NaN,...,-8280800.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-11-29,23.475000,23.639999,23.230000,23.540001,7146400.0,NaN,NaN,NaN,NaN,NaN,...,-1134400.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-11-30,23.500000,23.625000,23.379999,23.480000,6975200.0,NaN,NaN,NaN,NaN,NaN,...,-8109600.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-12-03,23.174999,23.375000,23.055000,23.264999,8425800.0,NaN,NaN,NaN,NaN,NaN,...,-16535400.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-12-04,23.469999,23.525000,23.145000,23.275000,7857600.0,23.583572,NaN,NaN,NaN,NaN,...,-8677800.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-12-05,23.639999,23.700001,23.480000,23.559999,12115800.0,23.498571,NaN,NaN,NaN,NaN,...,3438000.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-12-06,23.350000,23.445000,23.080000,23.215000,7025800.0,23.387143,NaN,NaN,NaN,NaN,...,-3587800.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-12-07,23.090000,23.450001,23.049999,23.299999,6653800.0,23.376428,NaN,NaN,NaN,NaN,...,3066000.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-12-10,23.080000,23.434999,22.754999,22.815001,7431400.0,23.272857,NaN,NaN,NaN,NaN,...,-4365400.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-12-11,22.875000,23.105000,22.775000,22.825001,7332600.0,23.179286,NaN,NaN,NaN,NaN,...,2967200.0,NaN,NaN,NaN,0,0,100,0,0,0
2001-12-12,22.825001,23.065001,22.725000,22.990000,8400000.0,23.140000,NaN,NaN,NaN,NaN,...,11367200.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-12-13,22.924999,23.250000,22.879999,23.115000,10977800.0,23.117143,23.350357,NaN,NaN,NaN,...,22345000.0,NaN,NaN,NaN,0,0,0,0,0,0
2001-12-14,23.100000,23.360001,23.040001,23.125000,6786600.0,23.055000,23.276786,NaN,NaN,NaN,...,29131600.0,1.837839,NaN,NaN,0,0,0,100,0,100
2001-12-17,23.325001,23.325001,22.900000,23.075001,8741400.0,23.035000,23.211071,NaN,NaN,NaN,...,20390200.0,1.841822,NaN,NaN,0,0,0,0,0,0
2001-12-18,23.225000,23.275000,22.940001,23.250000,9842800.0,23.027857,23.202143,NaN,NaN,NaN,...,30233000.0,1.800308,NaN,NaN,0,100,100,100,100,100
2001-12-19,23.125000,23.975000,23.125000,23.745001,15066400.0,23.160715,23.216786,NaN,NaN,NaN,...,45299400.0,1.892559,NaN,NaN,0,0,0,0,0,0
2001-12-20,23.625000,24.049999,23.620001,23.879999,9772400.0,23.311429,23.245357,NaN,NaN,NaN,...,55071800.0,1.876060,NaN,NaN,0,0,0,0,0,0
2001-12-21,24.075001,24.389999,23.885000,24.389999,16875000.0,23.511429,23.325714,23.41850,NaN,NaN,...,71946800.0,1.854988,NaN,NaN,0,0,0,0,0,0
2001-12-24,24.389999,24.400000,24.055000,24.184999,5177400.0,23.664286,23.390714,23.42000,NaN,NaN,...,66769400.0,1.838982,NaN,NaN,0,0,0,0,0,0
2001-12-26,24.025000,24.389999,23.900000,24.260000,4803000.0,23.826429,23.440714,23.43325,NaN,NaN,...,71572400.0,1.846617,NaN,NaN,0,0,0,0,0,0
2001-12-27,23.750000,23.969999,23.735001,23.969999,7931600.0,23.954285,23.494643,23.46300,NaN,NaN,...,63640800.0,1.891907,NaN,NaN,0,0,0,0,0,0
2001-12-28,23.655001,23.719999,23.495001,23.584999,8710400.0,24.002142,23.515000,23.46525,NaN,NaN,...,54930400.0,1.929304,NaN,NaN,0,0,0,0,0,0
2001-12-31,23.625000,23.850000,23.475000,23.575001,6934000.0,23.977857,23.569286,23.47000,NaN,NaN,...,47996400.0,1.905876,NaN,NaN,0,0,0,0,0,0
2002-01-02,23.400000,23.820000,23.129999,23.735001,8848000.0,23.957143,23.634286,23.49350,NaN,NaN,...,56844400.0,1.965462,NaN,NaN,0,0,0,0,0,0
2002-01-03,23.825001,23.825001,23.250000,23.424999,10789800.0,23.819286,23.665357,23.50100,NaN,NaN,...,46054600.0,2.024556,NaN,NaN,0,0,0,0,0,0
2002-01-04,23.299999,23.320000,23.010000,23.215000,10145600.0,23.680714,23.672500,23.48375,NaN,NaN,...,35909000.0,2.024639,NaN,NaN,0,0,0,0,0,0
2002-01-07,22.950001,23.500000,22.400000,22.610001,17142800.0,23.445000,23.635714,23.45350,NaN,NaN,...,18766200.0,2.277835,NaN,NaN,0,0,0,0,0,0
2002-01-08,22.735001,22.735001,22.315001,22.325001,12292800.0,23.210000,23.582143,23.40475,NaN,23.441833,...,6473400.0,2.276513,NaN,NaN,0,0,0,0,0,0
2002-01-09,22.250000,22.545000,22.235001,22.280001,12000600.0,23.023572,23.512857,23.37800,NaN,23.366876,...,-5527200.0,2.217558,NaN,NaN,0,0,0,100,0,100
2002-01-10,22.305000,22.475000,22.245001,22.389999,9222800.0,22.854286,23.416071,23.35625,NaN,23.303852,...,3695600.0,2.122419,NaN,NaN,0,0,0,0,0,0
2002-01-11,22.475000,22.799999,22.334999,22.650000,11290600.0,22.699286,23.328214,23.33925,NaN,23.261668,...,14986200.0,2.094836,NaN,NaN,0,0,0,0,0,0
2002-01-14,22.500000,22.584999,22.150000,22.250000,16115200.0,22.531429,23.175357,23.29600,NaN,23.196399,...,-1129000.0,2.140689,NaN,NaN,0,0,0,0,0,0
2002-01-15,22.375000,22.405001,22.020000,22.174999,12015800.0,22.382857,23.031786,23.24850,NaN,23.130502,...,-13144800.0,2.118519,NaN,NaN,0,0,0,0,0,0
2002-01-16,22.280001,22.400000,21.965000,22.075001,10501000.0,22.306429,22.875714,23.19850,NaN,23.062406,...,-23645800.0,2.116861,NaN,NaN,0,0,0,0,0,0
2002-01-17,22.200001,22.600000,22.155001,22.525000,9838000.0,22.335000,22.772500,23.16225,NaN,23.027734,...,-13807800.0,2.092869,NaN,NaN,0,0,0,0,0,0
2002-01-18,22.549999,22.725000,22.504999,22.719999,9820800.0,22.397857,22.710714,23.11100,NaN,23.007880,...,-3987000.0,1.995864,NaN,NaN,0,0,0,0,0,0
2002-01-22,22.719999,22.969999,22.600000,22.950001,9442400.0,22.477857,22.666071,23.06450,NaN,23.004146,...,5455400.0,1.949886,NaN,NaN,0,0,0,0,0,0
2002-01-23,22.875000,22.879999,22.000000,22.389999,13132600.0,22.440714,22.570000,22.96450,NaN,22.964524,...,-7677200.0,2.158963,NaN,NaN,0,0,0,0,0,0
2002-01-24,22.500000,22.549999,21.885000,22.110001,13154000.0,22.420714,22.476071,22.86075,NaN,22.909393,...,-20831200.0,2.244974,NaN,NaN,0,0,0,0,0,0
2002-01-25,22.049999,22.695000,22.010000,22.575001,8429800.0,22.477857,22.430357,22.77650,NaN,22.887820,...,-12401400.0,2.258417,NaN,NaN,0,0,0,0,0,0
2002-01-28,22.424999,22.625000,22.254999,22.605000,9345200.0,22.553571,22.430000,22.70825,NaN,22.869573,...,-3056200.0,2.211234,NaN,NaN,0,0,0,0,0,0
2002-01-29,22.500000,22.575001,22.000000,22.000000,15979600.0,22.478571,22.406786,22.62900,NaN,22.813472,...,-19035800.0,2.306182,NaN,NaN,0,0,0,0,0,0
2002-01-30,22.125000,22.145000,21.805000,21.924999,11985000.0,22.365000,22.381428,22.54650,NaN,22.756151,...,-31020800.0,2.259548,NaN,NaN,0,0,0,0,0,0
2002-01-31,22.049999,22.100000,21.750000,21.875000,18087600.0,22.211429,22.344643,22.45350,NaN,22.699302,...,-49108400.0,2.217233,NaN,NaN,0,0,0,0,0,0
2002-02-01,21.875000,22.350000,21.850000,22.340000,14601200.0,22.204286,22.322500,22.39925,NaN,22.676122,...,-34507200.0,2.175872,NaN,NaN,0,0,0,0,0,0
2002-02-04,22.340000,22.495001,22.180000,22.340000,9806000.0,22.237143,22.328929,22.35550,NaN,22.654436,...,-34507200.0,2.121169,NaN,NaN,0,0,0,100,0,100
2002-02-05,22.445000,23.045000,22.299999,22.875000,15225200.0,22.280000,22.378929,22.36875,NaN,22.668666,...,-19282000.0,2.156221,NaN,NaN,0,0,0,0,0,0
2002-02-06,22.900000,23.260000,22.605000,23.250000,15027600.0,22.372143,22.462857,22.41500,23.0311,22.706172,...,-4254400.0,2.171141,NaN,NaN,0,0,0,0,0,0
2002-02-07,22.950001,23.205000,22.875000,22.940001,8603800.0,22.506429,22.492500,22.44800,23.0068,22.721257,...,-12858200.0,2.160068,NaN,NaN,0,0,-100,100,0,100
2002-02-08,22.705000,22.934999,22.514999,22.924999,6663800.0,22.649286,22.507143,22.47475,22.9854,22.734402,...,-19522000.0,2.139510,NaN,NaN,0,0,0,0,0,0
2002-02-11,22.650000,23.120001,22.650000,23.070000,9030800.0,22.820000,22.515714,22.49575,22.9793,22.756053,...,-10491200.0,2.119721,NaN,NaN,0,0,0,0,0,0
2002-02-12,22.799999,23.065001,22.750000,23.055000,6057000.0,22.922143,22.563214,22.53600,22.9696,22.775340,...,-16548200.0,2.068734,NaN,NaN,0,0,-100,0,0,0
2002-02-13,22.875000,23.190001,22.754999,23.190001,7968400.0,23.043571,22.640357,22.58675,22.9638,22.802093,...,-8579800.0,2.043772,NaN,NaN,0,0,0,0,0,0
2002-02-14,23.075001,23.500000,23.000000,23.495001,8097800.0,23.132143,22.706071,22.65775,22.9684,22.846796,...,-482000.0,2.025160,NaN,NaN,0,0,0,0,0,0
2002-02-15,23.500000,23.525000,23.325001,23.475000,12432600.0,23.164286,22.768214,22.70525,22.9724,22.887326,...,-12914600.0,1.942962,NaN,NaN,0,100,0,100,100,100
2002-02-19,23.174999,23.434999,23.020000,23.145000,6432600.0,23.193572,22.850000,22.72650,22.9641,22.903950,...,-19347200.0,1.970322,NaN,NaN,0,0,0,100,0,100
2002-02-20,23.000000,23.500000,22.709999,23.440001,7912000.0,23.267143,22.958214,22.75100,22.9686,22.938534,...,-11435200.0,2.047296,NaN,NaN,0,0,0,0,0,0
2002-02-21,23.375000,23.615000,22.940001,23.000000,9376200.0,23.257143,23.038572,22.78150,22.9626,22.942499,...,-20811400.0,2.147055,NaN,NaN,0,0,0,0,0,0

## Affiche de certains indicateurs
On peut plot les indicateurs

In [19]:
df[['close', 'close 50 days mean']].plot(figsize = (10, 10))

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [20]:
df[['close', 'upperband', 'middleband', 'lowerband']].plot(figsize = (10, 10))

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

# Pre-processing de la data

In [21]:
# Pre-processing de la data



scaler_dict = {}

"""Pre-processing de la data

/!\ il faut bien sauvegarder le scaler, car il dépend du min et du max de la colonne !, on ne pourra pas de-scale après sinon

"""



for column in features:
    scaler = pp.MinMaxScaler()
    df[column] = scaler.fit_transform(np.expand_dims(df[column].values, axis=1))
    #on conserve le scaler de chaque colonne car il dépend de la colonne
    scaler_dict[column] = scaler

In [22]:
scaler_dict

{'open': MinMaxScaler(),
 'high': MinMaxScaler(),
 'low': MinMaxScaler(),
 'close': MinMaxScaler(),
 'volume': MinMaxScaler(),
 'close 7 days mean': MinMaxScaler(),
 'close 14 days mean': MinMaxScaler(),
 'close 20 days mean': MinMaxScaler(),
 'close 50 days mean': MinMaxScaler(),
 'ema': MinMaxScaler(),
 'upperband': MinMaxScaler(),
 'middleband': MinMaxScaler(),
 'lowerband': MinMaxScaler(),
 'rsi': MinMaxScaler(),
 'macd': MinMaxScaler(),
 'bop': MinMaxScaler(),
 'obv': MinMaxScaler(),
 'natr': MinMaxScaler(),
 'sine': MinMaxScaler(),
 'leadsine': MinMaxScaler(),
 'CDLKICKINGBYLENGTH': MinMaxScaler(),
 'CDLTAKURI': MinMaxScaler(),
 'CDLHARAMI': MinMaxScaler(),
 'CDLDOJI': MinMaxScaler(),
 'CDLDRAGONFLYDOJI': MinMaxScaler(),
 'CDLLONGLEGGEDDOJI': MinMaxScaler()}

In [23]:
df.head()

,open,high,low,close,volume,close 7 days mean,close 14 days mean,close 20 days mean,close 50 days mean,ema,...,obv,natr,sine,leadsine,CDLKICKINGBYLENGTH,CDLTAKURI,CDLHARAMI,CDLDOJI,CDLDRAGONFLYDOJI,CDLLONGLEGGEDDOJI
2001-11-26,0.143602,0.139003,0.134866,0.135112,0.048434,NaN,NaN,NaN,NaN,NaN,...,0.135274,NaN,NaN,NaN,0.0,0.0,0.5,0.0,0.0,0.0
2001-11-27,0.135846,0.130414,0.127691,0.131266,0.041919,NaN,NaN,NaN,NaN,NaN,...,0.132691,NaN,NaN,NaN,0.0,0.0,0.5,0.0,0.0,0.0
2001-11-28,0.122516,0.118316,0.116259,0.116360,0.056780,NaN,NaN,NaN,NaN,NaN,...,0.129463,NaN,NaN,NaN,0.0,0.0,0.5,0.0,0.0,0.0
2001-11-29,0.119365,0.117106,0.114922,0.120327,0.040968,NaN,NaN,NaN,NaN,NaN,...,0.132005,NaN,NaN,NaN,0.0,0.0,0.5,0.0,0.0,0.0
2001-11-30,0.119971,0.116743,0.118570,0.118884,0.039565,NaN,NaN,NaN,NaN,NaN,...,0.129524,NaN,NaN,NaN,0.0,0.0,0.5,0.0,0.0,0.0

In [24]:
"""On crée futur"""
df['futur'] = df['close'].shift(-days_predicted)

In [25]:
df.shape

(4939, 29)

Ici, on supprime de nouveau les NaN, créés lors du calcul des indicateurs

In [26]:
df.dropna(inplace = True)

In [27]:
df.shape

(4874, 29)

## On shuffle y et c de la même manière

In [28]:
"""Préparation des séquences de prix des 50 derniers jours que l'on va considérer"""

sequence_tot = []
sequence = []
i = 0
for input_, tgt, current in zip(df[features].values, df['futur'].values, df['close'].values):
    sequence.append(input_)
    if len(sequence) == n: #dès que len(sequence) = n, on stock la sequence dans sequence_tot
                            #dès lors, on supprime le premier élément de sequence, et on ajoute l'entrée à la fin, 
                            #ça garde une séquence de 50
        sequence_tot.append([np.array(sequence), tgt, current])
        sequence.pop(0)


#tous les n, on ajoute tgt = target, avec df['futur'] qui est décalé de days_predicted 
#donc avec les n valeurs des nb_features features, on va essayer de trouver la target 


    
x_data, y_data = [], [] #c correspond à current, c'est le prix à la date considérée, on en aura besoin pour déterminer le bénéfice
#y est la donnée à déterminer, à savoir le prix à t + 10
for s, tgt, current in sequence_tot:
    x_data.append(s)
    y_data.append((tgt, current))
x_data, y_data = np.array(x_data), np.array(y_data)

In [29]:
y_data.shape

(4815, 2)

## Création de x, y, c sans sklearn

In [ ]:
"""/!\ ne pas executer le bloc qui suit"""

In [ ]:
#Nous avons essayé de coder par nous-mêmes la séparation des données... ça n'a pas bien fonctionné

In [ ]:
"""/!\ Ne pas lancer cette cellule"""
"""Préparation des séquences de prix des 50 derniers jours que l'on va considérer"""

sequence_tot = []
sequence = []
i = 0
for inpt, tgt, current in zip(df[features].values, df['futur'].values, df['close'].values):
    sequence.append(inpt)
    if len(sequence) == n: #dès que len(sequence) = n, on stock la sequence dans sequence_tot
                            #dès lors, on supprime le premier élément de sequence, et on ajoute l'entrée à la fin, 
                            #ça garde une séquence de 50
        sequence_tot.append([np.array(sequence), tgt, current])
        sequence.pop(0)


#tous les n, on ajoute tgt = target, avec df['futur'] qui est décalé de days_predicted 
#donc avec les n valeurs des nb_features features, on va essayer de trouver la target 
#donc, si n=50 et days_predicted=10, last_sequence devrait être de longueur 60 (50+10)


    
x_data, y_data, c_data = [], [], [] #c correspond à current, c'est le prix à la date considérée, on en aura besoin pour déterminer le bénéfice
#y est la donnée à déterminer, à savoir le prix à t + 10
for s, tgt, current in sequence_tot:
    x_data.append(s)
    y_data.append(tgt)
    c_data.append(current)
x_data, y_data, c_data = np.array(x_data), np.array(y_data), np.array(c_data)

In [ ]:
"""/!\ Ne pas lancer cette cellule"""
idx = int((1 - test_size) * len(x_data))
          
x_train = x_data[:idx] #"""on prend les premiers pour le train"""
y_train = y_data[:idx] #"""on prend les premiers pour le train"""
x_test  = x_data[idx:] #"""on prend les derniers pour le test"""
y_test = y_data[idx:] #"""on prend les derniers pour le test"""
c_test = c_data[idx:]

# Création de x, y, c avec sklearn

In [30]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x_data, y_data, test_size=test_size, shuffle=shffl)

In [31]:
y_test

array([[0.67760549, 0.66750808],
       [0.68121164, 0.67279721],
       [0.66294026, 0.67760549],
       ...,
       [0.86031972, 0.85695395],
       [0.8557519 , 0.84974156],
       [0.8636855 , 0.86031972]])

In [32]:
y_test, c_test = y_test[:,0], y_test[:,1]

In [33]:
y_test

array([0.67760549, 0.68121164, 0.66294026, 0.66462314, 0.66294026,
       0.65981485, 0.65500657, 0.64587092, 0.64803464, 0.65284284,
       0.6499579 , 0.62759944, 0.63409062, 0.63649472, 0.63144605,
       0.64082217, 0.64827502, 0.64875586, 0.64803464, 0.64611129,
       0.65717029, 0.66269979, 0.66294026, 0.66462314, 0.6752013 ,
       0.67279721, 0.66991227, 0.67448009, 0.66943143, 0.66798892,
       0.66462314, 0.66149774, 0.66582519, 0.66197858, 0.65692992,
       0.65981485, 0.6554874 , 0.65741076, 0.65957448, 0.64755381,
       0.65885318, 0.66462314, 0.66582519, 0.67327804, 0.67760549,
       0.69467483, 0.67976922, 0.67351842, 0.65332368, 0.64731334,
       0.65500657, 0.65644908, 0.65741076, 0.65789159, 0.65620871,
       0.64827502, 0.65476619, 0.65957448, 0.66582519, 0.6665464 ,
       0.67111432, 0.65500657, 0.64370719, 0.64418803, 0.64322636,
       0.65789159, 0.6610169 , 0.66486352, 0.65861281, 0.66342109,
       0.66221904, 0.65067912, 0.65043874, 0.65572787, 0.65861281,
       0.65356414, 0.65741076, 0.64923669, 0.6468325 , 0.66221904,
       0.66197858, 0.66029569, 0.66582519, 0.66197858, 0.66125737,
       0.66390193, 0.67303758, 0.68000959, 0.68145211, 0.68818366,
       0.69347278, 0.69515567, 0.70429141, 0.70453178, 0.72112028,
       0.70116601, 0.69419399, 0.69852144, 0.69515567, 0.67784587,
       0.63360978, 0.62832065, 0.62567618, 0.59057574, 0.59129704,
       0.61149178, 0.61678082, 0.61461709, 0.63096522, 0.6357735 ,
       0.61197262, 0.5963457 , 0.60067315, 0.61317467, 0.6129342 ,
       0.60307725, 0.59346077, 0.59850943, 0.60548144, 0.60956843,
       0.6105301 , 0.60788554, 0.62303162, 0.63192689, 0.62495488,
       0.62591655, 0.60692387, 0.6042793 , 0.59923064, 0.59442235,
       0.59201825, 0.58817164, 0.58240168, 0.57206398, 0.58071879,
       0.58552708, 0.59586487, 0.59850943, 0.58023795, 0.59730738,
       0.61798296, 0.62182957, 0.61028964, 0.60812601, 0.61197262,
       0.61197262, 0.6129342 , 0.62447404, 0.62856112, 0.63336941,
       0.62447404, 0.61966584, 0.60596228, 0.61173215, 0.58985453,
       0.57446808, 0.5821613 , 0.59562449, 0.5932203 , 0.57831469,
       0.56557281, 0.56148573, 0.57278519, 0.56749607, 0.55956247,
       0.55884116, 0.56845774, 0.56749607, 0.56509197, 0.55739874,
       0.55331167, 0.57134268, 0.56845774, 0.57398724, 0.57014063,
       0.57374687, 0.57182352, 0.57374687, 0.58047842, 0.59129704,
       0.58817164, 0.59105658, 0.59995194, 0.5908162 , 0.59923064,
       0.5987498 , 0.61101094, 0.61533839, 0.62206994, 0.61654044,
       0.60211567, 0.61509793, 0.60139437, 0.60259642, 0.59442235,
       0.59033537, 0.59418198, 0.60211567, 0.59610533, 0.58985453,
       0.59947111, 0.60884722, 0.60620265, 0.61197262, 0.62808028,
       0.62759944, 0.62182957, 0.63553313, 0.63120568, 0.62832065,
       0.63000363, 0.62976317, 0.64226468, 0.63913928, 0.63889891,
       0.64298589, 0.63505229, 0.64250505, 0.66245942, 0.66606566,
       0.66534435, 0.66582519, 0.67544177, 0.6696718 , 0.66462314,
       0.6752013 , 0.67592261, 0.67231637, 0.66390193, 0.66871013,
       0.66221904, 0.65620871, 0.65765113, 0.66221904, 0.66558482,
       0.67472047, 0.67784587, 0.66558482, 0.65861281, 0.65308331,
       0.65140042, 0.65284284, 0.64514962, 0.64418803, 0.63505229,
       0.62591655, 0.63048438, 0.64539008, 0.65476619, 0.65356414,
       0.66173821, 0.66077653, 0.66606566, 0.65620871, 0.66005532,
       0.66798892, 0.65861281, 0.65933402, 0.67568214, 0.67423972,
       0.66197858, 0.65260247, 0.65668945, 0.66053607, 0.66486352,
       0.66582519, 0.67255674, 0.65717029, 0.65668945, 0.65741076,
       0.67183553, 0.6696718 , 0.65260247, 0.62759944, 0.62856112,
       0.63409062, 0.64803464, 0.65692992, 0.65091958, 0.66822938,
       0.65957448, 0.66895059, 0.67784587, 0.67255674, 0.65837234,
       0.67135469, 0.69948312, 0.70549346, 0.70212768, 0.70837839,
       0.72496689, 0.73506431, 0.74131502, 0.74035343, 0.74876787,
       0.75333569, 0.75309532, 0.75069113, 0.75021038, 0.76054808,
       0.76872214, 0.74155548, 0.72592857, 0.73290058, 0.72929434,
       0.74131502, 0.74948908, 0.73193891, 0.76607767, 0.74900824,
       0.74636377, 0.74155548, 0.73458347, 0.73818971, 0.7454021 ,
       0.73770887, 0.74371921, 0.74059381, 0.71631208, 0.71607162,
       0.7059743 , 0.69731939, 0.69804061, 0.65933402, 0.68289453,
       0.69707893, 0.68914533, 0.69275148, 0.68265416, 0.67568214,
       0.69804061, 0.68313499, 0.69587688, 0.67399926, 0.68601993,
       0.69251111, 0.68794328, 0.69804061, 0.68241369, 0.68577956,
       0.69900228, 0.70164684, 0.71486957, 0.70092554, 0.69323232,
       0.68842403, 0.69395362, 0.70501262, 0.71150379, 0.72520736,
       0.73843008, 0.73867045, 0.73867045, 0.74251707, 0.74444042,
       0.74708498, 0.74828703, 0.75141243, 0.65043874, 0.64202431,
       0.63216736, 0.63865844, 0.65692992, 0.64298589, 0.63481183,
       0.62880149, 0.63481183, 0.64442841, 0.64539008, 0.65188126,
       0.65067912, 0.64707297, 0.64298589, 0.63240773, 0.66462314,
       0.66149774, 0.66558482, 0.65308331, 0.64346673, 0.64611129,
       0.64971753, 0.64899623, 0.64851539, 0.65861281, 0.6610169 ,
       0.67568214, 0.67496093, 0.67423972, 0.68097127, 0.67760549,
       0.67399926, 0.66462314, 0.67183553, 0.67159516, 0.67351842,
       0.67640335, 0.67568214, 0.67736503, 0.67808633, 0.68433704,
       0.68313499, 0.69106859, 0.69587688, 0.69395362, 0.71342706,
       0.70789756, 0.70453178, 0.7146291 , 0.71847572, 0.73386226,
       0.72256279, 0.71775451, 0.7256882 , 0.71967786, 0.70837839,
       0.70477215, 0.69395362, 0.71294622, 0.70958044, 0.72496689,
       0.73674719, 0.74636377, 0.73722803, 0.7288135 , 0.72280317,
       0.74804666, 0.75285486, 0.74708498, 0.73482384, 0.72304363,
       0.73843008, 0.73554515, 0.75598026, 0.75646109, 0.77521332,
       0.79011902, 0.79228275, 0.78963818, 0.78843613, 0.79588889,
       0.78362785, 0.7879553 , 0.77737704, 0.77184754, 0.78338738,
       0.79636973, 0.79372517, 0.80262044, 0.79877383, 0.78338738,
       0.7824258 , 0.77857909, 0.79492722, 0.80406296, 0.80694789,
       0.80718836, 0.8045438 , 0.79468685, 0.80021635, 0.80550547,
       0.80742873, 0.8076692 , 0.80790957, 0.80887125, 0.80526501,
       0.78987856, 0.78579157, 0.86056019, 0.84733737, 0.83026803,
       0.85671348, 0.85238612, 0.84589495, 0.81968987, 0.80526501,
       0.81247749, 0.79612936, 0.81103497, 0.8329126 , 0.84517364,
       0.83868247, 0.83339343, 0.84060582, 0.82834477, 0.8495011 ,
       0.86248345, 0.869215  , 0.84974156, 0.85503059, 0.8644068 ,
       0.84637579, 0.86560885, 0.8699363 , 0.87931241, 0.8778699 ,
       0.87762952, 0.88388023, 0.8951797 , 0.87955278, 0.88219735,
       0.86512801, 0.86224307, 0.87113835, 0.87931241, 0.85887721,
       0.85166482, 0.85839646, 0.858156  , 0.86512801, 0.85046277,
       0.85599227, 0.85983888, 0.85671348, 0.86200261, 0.86007935,
       0.86320466, 0.86825341, 0.8305085 , 0.84877988, 0.86560885,
       0.8495011 , 0.84252917, 0.84853951, 0.84445243, 0.83579753,
       0.83579753, 0.84084619, 0.84036545, 0.84757783, 0.87137872,
       0.858156  , 0.84902026, 0.86801295, 0.86729173, 0.84661616,
       0.84228871, 0.8384421 , 0.85118398, 0.86296428, 0.8502224 ,
       0.83195092, 0.81464112, 0.82377686, 0.81151581, 0.80959246,
       0.80069718, 0.79757178, 0.81440075, 0.81968987, 0.82065146,
       0.82930636, 0.8305085 , 0.83387427, 0.82762347, 0.82930636,
       0.83387427, 0.8502224 , 0.85142445, 0.83820172, 0.84661616,
       0.84781821, 0.85959851, 0.85719432, 0.86272382, 0.85430938,
       0.847097  , 0.85142445, 0.85599227, 0.86272382, 0.86272382,
       0.86272382, 0.85046277, 0.86031972, 0.87594664, 0.87450412,
       0.86969583, 0.87714868, 0.88508228, 0.88315902, 0.88508228,
       0.87642747, 0.869215  , 0.86873416, 0.85863683, 0.86104093,
       0.88484191, 0.88940973, 0.9038346 , 0.9007092 , 0.91753816,
       0.9204231 , 0.92330803, 0.92883753, 0.93941579, 0.94470491,
       0.94109867, 0.93629038, 0.92499092, 0.92499092, 0.96946747,
       0.95840847, 0.96273593, 0.96898664, 0.96922701, 0.97259288,
       0.97740107, 0.99086426, 0.98701765, 0.9826902 , 0.98749849,
       0.99567255, 0.98557513, 0.9913451 , 0.99014305, 1.        ,
       0.96441881, 0.94446445, 0.93917532, 0.87498496, 0.84036545,
       0.89878585, 0.90215171, 0.9709099 , 0.91849984, 0.88291856,
       0.80117802, 0.84445243, 0.80959246, 0.68818366, 0.71967786,
       0.64250505, 0.68866449, 0.6326481 , 0.56004331, 0.47517728,
       0.45738673, 0.50282487, 0.55475418, 0.61918501, 0.58360382,
       0.63625434, 0.61822333, 0.56701523, 0.61101094, 0.60812601,
       0.67640335, 0.67255674, 0.70405094, 0.73241974, 0.68265416,
       0.73049639, 0.69900228, 0.68674114, 0.70982091, 0.67303758,
       0.64539008, 0.65260247, 0.63793723, 0.64659213, 0.67904792,
       0.67808633, 0.68722198, 0.65765113, 0.65067912, 0.63962012,
       0.64587092, 0.630244  , 0.62663777, 0.66294026, 0.64923669,
       0.63192689, 0.61077048, 0.60500061, 0.59442235, 0.63553313,
       0.62519534, 0.65765113, 0.64034133, 0.63697555, 0.66245942,
       0.67784587, 0.68650077, 0.67664382, 0.68409667, 0.68193294,
       0.7059743 , 0.70645504, 0.73458347, 0.75285486, 0.73241974,
       0.72328401, 0.64923669, 0.65067912, 0.66750808, 0.67880754,
       0.67423972, 0.68409667, 0.66077653, 0.65404498, 0.65164079,
       0.62783991, 0.63457146, 0.6018752 , 0.62086789, 0.62856112,
       0.63192689, 0.63336941, 0.64178384, 0.641303  , 0.63793723,
       0.61004927, 0.63986058, 0.64226468, 0.65717029, 0.66991227,
       0.66390193, 0.68000959, 0.66318063, 0.68914533, 0.71991823,
       0.71510994, 0.7201587 , 0.71991823, 0.71270584, 0.70885923,
       0.70092554, 0.69010701, 0.66750808, 0.67688419, 0.68962617,
       0.69587688, 0.70357011, 0.70164684, 0.70669551, 0.71871618,
       0.71751413, 0.71919702, 0.71342706, 0.71847572, 0.69323232,
       0.69275148, 0.69106859, 0.70765718, 0.70621467, 0.71222501,
       0.71390789, 0.75237411, 0.74516163, 0.73530468, 0.78507027,
       0.76800093, 0.78146412, 0.75189327, 0.76102892, 0.75646109,
       0.78194496, 0.77353043, 0.78170449, 0.77545378, 0.76968382,
       0.76727972, 0.73458347, 0.74828703, 0.71342706, 0.72520736,
       0.7256882 , 0.73915129, 0.73049639, 0.74131502, 0.73674719,
       0.74107464, 0.74155548, 0.73097723, 0.74588293, 0.76752009,
       0.77593462, 0.78266617, 0.76175022, 0.75934603, 0.75622072,
       0.75718231, 0.74732536, 0.76247143, 0.75622072, 0.77280922,
       0.76896261, 0.75165281, 0.754057  , 0.70741672, 0.70885923,
       0.70982091, 0.72328401, 0.74083418, 0.73650673, 0.74299791,
       0.74323837, 0.81824736, 0.85214566, 0.84252917, 0.82882552,
       0.83940377, 0.84902026, 0.84493327, 0.81920903, 0.83171055,
       0.82065146, 0.82089192, 0.83387427, 0.82690226, 0.82137276,
       0.79492722, 0.80550547, 0.80718836, 0.82329602, 0.84902026,
       0.82834477, 0.8329126 , 0.83651884, 0.8297872 , 0.83699958,
       0.83507632, 0.84877988, 0.83002766, 0.83507632, 0.84637579,
       0.82401732, 0.82281518, 0.8305085 , 0.83916331, 0.85647311,
       0.8557519 , 0.86320466, 0.87282123, 0.82281518, 0.80887125,
       0.76896261, 0.75549942, 0.7824258 , 0.76126938, 0.75910566,
       0.76030771, 0.73794924, 0.72520736, 0.72063944, 0.72472652,
       0.73121769, 0.7201587 , 0.72713062, 0.73939176, 0.72112028,
       0.73602598, 0.71198463, 0.71991823, 0.73145807, 0.72689024,
       0.73266012, 0.74804666, 0.75453774, 0.74924871, 0.74684452,
       0.76367348, 0.77304959, 0.76295227, 0.7595865 , 0.77497295,
       0.75910566, 0.77160717, 0.76944345, 0.77353043, 0.76054808,
       0.73217937, 0.754057  , 0.75886519, 0.75598026, 0.75501858,
       0.77545378, 0.79588889, 0.77713667, 0.79108061, 0.77761751,
       0.765116  , 0.78122366, 0.78579157, 0.78627241, 0.77016466,
       0.77593462, 0.78050245, 0.78987856, 0.79300396, 0.80502463,
       0.82954682, 0.84902026, 0.83219139, 0.82161313, 0.81680484,
       0.82401732, 0.83315297, 0.83531669, 0.83147008, 0.8329126 ,
       0.83699958, 0.83074887, 0.8305085 , 0.83651884, 0.84493327,
       0.8526265 , 0.85671348, 0.86729173, 0.86320466, 0.86392596,
       0.84445243, 0.84252917, 0.84276955, 0.85887721, 0.85214566,
       0.86416633, 0.85599227, 0.8526265 , 0.86560885, 0.86488754,
       0.87450412, 0.86031972, 0.85358817, 0.86488754, 0.87017667,
       0.86801295, 0.86080056, 0.85671348, 0.86825341, 0.86753211,
       0.87185956, 0.87161919, 0.87738906, 0.88844815, 0.88363986,
       0.8833994 , 0.88868852, 0.8920543 , 0.90647916, 0.90167087,
       0.89229476, 0.88820768, 0.89854547, 0.90455581, 0.88989057,
       0.8865248 , 0.86873416, 0.8754658 , 0.847097  , 0.8612814 ,
       0.86608969, 0.85551143, 0.86200261, 0.86031972, 0.85887721,
       0.84926072, 0.85527106, 0.85166482, 0.85695395, 0.84974156,
       0.86031972, 0.8557519 , 0.8636855 ])

On a pas besion de c_train, on a juste besoin de c_test pour calculer les benefices, on garde juste y_train

In [34]:
y_train

array([[0.22995553, 0.22995553],
       [0.21120326, 0.23584563],
       [0.20531315, 0.22995553],
       ...,
       [0.66702724, 0.65837234],
       [0.66750808, 0.65933402],
       [0.67279721, 0.66702724]])

In [35]:
y_train = y_train[:,0]

## Conversion en float64 pour éviter toute erreur

In [36]:
x_train = np.asarray(x_train).astype('float64')
y_train = np.asarray(y_train).astype('float64')
x_test = np.asarray(x_test).astype('float64')
y_test = np.asarray(y_test).astype('float64')

In [37]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((3852, 60, 26), (3852,), (963, 60, 26), (963,))

In [38]:
df.tail(days_predicted)

,open,high,low,close,volume,close 7 days mean,close 14 days mean,close 20 days mean,close 50 days mean,ema,...,natr,sine,leadsine,CDLKICKINGBYLENGTH,CDLTAKURI,CDLHARAMI,CDLDOJI,CDLDRAGONFLYDOJI,CDLLONGLEGGEDDOJI,futur
2021-07-06,0.858943,0.853859,0.852365,0.849742,0.107610,0.861783,0.870485,0.889858,0.932561,0.902333,...,0.058852,0.497400,0.851710,0.0,0.0,0.5,0.0,0.0,0.0,0.855752
2021-07-07,0.852399,0.860876,0.856500,0.860320,0.100231,0.861783,0.869860,0.888168,0.932917,0.901991,...,0.058747,0.576383,0.903415,0.0,0.0,0.5,0.0,0.0,0.0,0.863685

# Modèle

In [39]:
"""Paramètres"""
#paramètres sur les données
n = 60
days_predicted = 2
test_size = 0.2
features = possible_features

#paramètres du modèle
nb_neurons = 256
nb_layers = 6
dropout = 0.4 #"désactive" aléatoirement certains neurones a chaque forward pour réduire l'overfitting
nb_features = len(features) #len de la dataframe
loss_fn = 'huber_loss'
e = 350 #nombre d'epoch
b_s = 32 #c'est la taille du batch
bidi = False
mtrcs = ['mean_absolute_error']
optm = 'adam'
activation_fn = 'tanh'
reg = None

In [40]:
def mod_name(ticker, n, days_predicted, test_size, nb_neurons, nb_layers, dropout, nb_features, loss_fn, e, b_s, bidi, mtrcs, optm, activation_fn, reg):
    return 'n' + str(n) + '__' + 'days_predicted' + str(days_predicted) + '__' + 'test_size' + str(test_size) + '__' + 'nb_neurons' + str(nb_neurons) + '__' + 'nb_layers' + str(nb_layers) + '__' + 'dropout' + str(dropout) + '__' + 'nb_features' + str(nb_features) + '__' + 'loss_fn' + str(loss_fn) + '__' + 'e' + str(e) + '__' + 'b_s' + str(b_s) + '__' + 'bidi' + str(bidi) + '__' + 'mtrcs' + str(mtrcs) + '__' + 'optm' + str(optm) + '__' + 'activation_fn' + str(activation_fn) + '__' + 'reg' + str(reg)

In [41]:
name = mod_name(ticker, n, days_predicted, test_size, nb_neurons, nb_layers, dropout, nb_features, loss_fn, e, b_s, bidi, mtrcs, optm, activation_fn, reg)

In [42]:
name

"n60__days_predicted2__test_size0.2__nb_neurons256__nb_layers6__dropout0.4__nb_features26__loss_fnhuber_loss__e350__b_s32__bidiFalse__mtrcs['mean_absolute_error']__optmadam__activation_fntanh__regNone"

In [43]:
def mod(nb_neurons, nb_layers, dropout, n, nb_features, loss_fn, bidi, mtrcs, optm, activation_fn, reg):

    if bidi :
        """Bidirectionnel, n_layers = 2"""

        mod = tf.keras.Sequential()

        for l in range(nb_layers - 1):
            mod.add(tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(nb_neurons, 
                                                                       return_sequences=True, 
                                                                       batch_input_shape=(None, n, nb_features)
                                                                      )))
            mod.add(tf.keras.layers.Dropout(dropout))
        
        mod.add(tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(nb_neurons, return_sequences=False)))
        mod.add(tf.keras.layers.Dropout(dropout))

        mod.add(tf.keras.layers.Dense(1, activation = activation_fn)) 
        mod.compile(loss = loss_fn, metrics = mtrcs, optimizer = optm)
        
        
    else :
        mod = tf.keras.Sequential()
        
        for l in range(nb_layers - 1):
            mod.add(tf.keras.layers.LSTM(nb_neurons, return_sequences=True, batch_input_shape=(None, n, nb_features)))
            mod.add(tf.keras.layers.Dropout(dropout))
        
        mod.add(tf.keras.layers.LSTM(nb_neurons, return_sequences=False))
        mod.add(tf.keras.layers.Dropout(dropout))

        mod.add(tf.keras.layers.Dense(1, activation = activation_fn)) 
        mod.compile(loss = loss_fn, metrics = mtrcs, optimizer = optm) #adam est un algorithme d'optimisation (ADAptative Moment)

    return mod

In [ ]:
mod = mod(nb_neurons, nb_layers, dropout, n, nb_features, loss_fn, bidi, mtrcs, optm, activation_fn, reg)

In [ ]:
mod.summary()

In [ ]:
"""création des dossiers pour les logs"""

if not os.path.isdir("logs"):
    os.mkdir("logs")

In [93]:
#on utilise tensorboard pour visualiser la loss etc au fil des epochs

tensorboard = tf.keras.callbacks.TensorBoard(log_dir=os.path.join("logs", name))

In [ ]:
mod.fit(x_train, y_train,
                    batch_size = b_s,
                    epochs = e,
                    validation_data = (x_test, y_test),
                    callbacks = [tensorboard],
                    verbose = 1)

Train on 3836 samples, validate on 959 samples
Epoch 1/350
3836/3836 [==============================] - 43s 11ms/sample - loss: 0.0039 - mean_absolute_error: 0.0492 - val_loss: 0.0028 - val_mean_absolute_error: 0.0570
Epoch 2/350
2944/3836 [======================>.......] - ETA: 5s - loss: 7.2295e-04 - mean_absolute_error: 0.0290

# Sauvegarde du modèle

In [62]:
mod.save(name + '.h5')

# Chargement d'un modèle déjà existant

In [1]:
loaded = tf.keras.models.load_model('BTC-USD__BiDiFalse__n60__days_predicted10__test_size0.2__nb_neurons256__dropout0.4__nb_features26__e650__b_s32.h5')

NameError: name 'tf' is not defined

# Calcul des prédictions

In [82]:
y_pred = mod.predict(x_test)

In [83]:
y_pred.shape

(463, 1)

In [84]:
y_test.shape

(463, 1)

In [85]:
"""on met y_test sous la meme shape que y_pred pour la suite"""

'on met y_test sous la meme shape que y_pred pour la suite'

In [86]:
y_test

array([[3.80780645e-02],
       [7.34666406e-04],
       [8.29260249e-03],
       [3.78972998e-03],
       [1.39231762e-03],
       [1.66413132e-02],
       [1.65910256e-01],
       [1.14587392e-01],
       [4.02663373e-03],
       [1.82424556e-03],
       [1.12812402e-01],
       [2.52740808e-03],
       [1.20882657e-01],
       [8.50275695e-04],
       [5.85327476e-02],
       [4.12065472e-01],
       [8.98786927e-04],
       [1.36191216e-01],
       [1.05974944e-03],
       [3.86680634e-01],
       [8.14805272e-02],
       [2.92995095e-01],
       [7.69821226e-01],
       [8.48984923e-02],
       [6.41206605e-01],
       [1.44310711e-01],
       [1.12072848e-01],
       [1.46245073e-01],
       [9.65304857e-02],
       [1.42072749e-01],
       [5.24995566e-02],
       [3.97799575e-03],
       [5.61798702e-03],
       [1.28833905e-01],
       [1.48486643e-01],
       [1.49418817e-03],
       [2.75834277e-01],
       [9.04014042e-04],
       [1.37409688e-01],
       [3.85911786e-03],
       [5.64685651e-02],
       [5.42615423e-02],
       [9.27274740e-04],
       [9.85104946e-02],
       [1.68506394e-01],
       [1.53709978e-01],
       [1.47677038e-01],
       [5.78698072e-01],
       [1.47806855e-01],
       [9.44175832e-02],
       [7.56712721e-03],
       [2.98922322e-01],
       [1.54072596e-03],
       [1.24178963e-01],
       [8.86130046e-03],
       [1.01457738e-01],
       [1.60577985e-01],
       [5.86727908e-01],
       [2.59714247e-01],
       [9.79019681e-02],
       [1.43629967e-01],
       [1.44706685e-01],
       [6.36719672e-03],
       [1.17595981e-01],
       [3.12554107e-03],
       [1.47997128e-02],
       [1.10344384e-01],
       [7.87933877e-02],
       [4.15634016e-02],
       [1.36223076e-01],
       [5.97701761e-02],
       [6.75974142e-03],
       [9.06837214e-01],
       [1.15851973e-01],
       [4.99699847e-02],
       [1.56521357e-02],
       [4.77761938e-01],
       [8.88860396e-03],
       [1.58209455e-02],
       [1.44719670e-01],
       [1.47635292e-01],
       [1.32986320e-01],
       [1.04199130e-01],
       [2.94124739e-01],
       [1.05863688e-01],
       [1.83616033e-01],
       [1.34475837e-01],
       [6.27753313e-03],
       [7.54073935e-04],
       [1.18463833e-01],
       [1.47508729e-01],
       [1.48997522e-01],
       [3.67667446e-02],
       [1.35297965e-01],
       [3.04258788e-01],
       [6.17700395e-01],
       [9.85633204e-02],
       [7.44394854e-02],
       [1.33339916e-01],
       [6.24763725e-02],
       [5.86533965e-02],
       [9.52822184e-03],
       [1.43157688e-01],
       [6.63352056e-04],
       [1.22940089e-01],
       [8.05175231e-04],
       [1.43945796e-01],
       [3.73804484e-03],
       [1.30901775e-03],
       [3.84460541e-03],
       [9.42992756e-01],
       [3.78471953e-02],
       [4.52628344e-01],
       [6.14775432e-02],
       [9.28861742e-03],
       [8.75005036e-04],
       [1.36008982e-01],
       [3.14594400e-03],
       [1.37944223e-01],
       [5.37835576e-02],
       [1.75574185e-01],
       [1.73871852e-01],
       [4.03711929e-03],
       [9.33657842e-01],
       [1.53355981e-01],
       [1.53054031e-01],
       [1.12749267e-01],
       [1.35883483e-02],
       [5.05458989e-02],
       [1.74451402e-01],
       [1.08967366e-01],
       [1.30970761e-02],
       [9.55473810e-01],
       [7.53331782e-04],
       [1.03972578e-03],
       [1.34150262e-01],
       [1.05267899e-01],
       [1.25226512e-01],
       [4.29810493e-03],
       [3.57314372e-01],
       [3.82541884e-03],
       [1.41190001e-01],
       [4.06481748e-03],
       [7.48011609e-03],
       [1.27026137e-01],
       [8.80705683e-03],
       [8.67886336e-01],
       [1.51493606e-01],
       [7.44183741e-03],
       [7.93814038e-02],
       [4.32326052e-03],
       [4.18607990e-03],
       [9.49554877e-02],
       [1.30490976e-01],
       [6.03614780e-01],
       [8.39402114e-01],
       [1.70422759e-01],
       [1.66192313e-01],
       [5.58837038e-01],
       [3.66900441e-03],
       [9.24871275e-03],
       [1.19101537e-01],
       [7.63075185e-04],
       [1.15531402e-01],
       [1.73600252e-01],
       [3.98685484e-03],
       [1.63270337e-01],
       [6.27503776e-03],
       [1.48902773e-01],
       [2.01937894e-01],
       [1.18466979e-01],
       [3.72618534e-03],
       [1.60410795e-02],
       [7.14611180e-04],
       [4.26709018e-03],
       [6.52110084e-03],
       [1.22377703e-01],
       [5.49501288e-02],
       [6.17347251e-02],
       [3.76296381e-03],
       [7.02338002e-03],
       [6.09107276e-02],
       [1.42387623e-01],
       [4.30778472e-03],
       [1.09051057e-01],
       [4.14782834e-02],
       [9.70560689e-03],
       [6.67289951e-02],
       [1.14949231e-03],
       [1.33318851e-01],
       [1.67761790e-01],
       [5.31818858e-02],
       [3.19281286e-03],
       [7.57187867e-02],
       [1.34671843e-01],
       [8.14589531e-01],
       [1.47788982e-01],
       [6.89204216e-03],
       [1.34754896e-03],
       [4.66418225e-03],
       [8.19245286e-04],
       [3.72756326e-01],
       [1.18923729e-01],
       [5.86467410e-01],
       [5.82365420e-02],
       [1.84520619e-01],
       [7.04100277e-03],
       [5.54163895e-02],
       [8.92701600e-02],
       [7.53524453e-03],
       [6.22947476e-02],
       [1.17216719e-02],
       [1.38190070e-01],
       [4.04626270e-03],
       [7.52066846e-03],
       [2.42995528e-01],
       [2.63791174e-02],
       [1.62070525e-01],
       [7.03361208e-03],
       [9.39104121e-03],
       [1.25164441e-01],
       [5.54609649e-02],
       [4.11424483e-03],
       [5.45071505e-02],
       [1.37841023e-01],
       [5.89187903e-02],
       [7.29897353e-04],
       [1.35907509e-01],
       [5.87920692e-02],
       [9.21005479e-04],
       [1.23949802e-01],
       [3.68667487e-03],
       [9.31742161e-03],
       [1.45928550e-01],
       [1.41897343e-03],
       [2.11169546e-01],
       [7.69963324e-03],
       [5.46292567e-02],
       [1.57729831e-01],
       [1.01356513e-01],
       [7.66504772e-01],
       [1.20360968e-03],
       [1.45826414e-01],
       [9.05566495e-01],
       [1.05603676e-01],
       [1.73214506e-02],
       [9.97530468e-02],
       [1.05280653e-01],
       [9.16592510e-02],
       [1.72873405e-02],
       [4.96981074e-01],
       [1.05468454e-01],
       [2.54214777e-01],
       [8.81353090e-04],
       [1.84760251e-01],
       [1.78897732e-01],
       [1.70749461e-01],
       [1.14161338e-01],
       [6.08164607e-02],
       [1.43756113e-01],
       [5.03582492e-01],
       [8.01347315e-03],
       [9.37491867e-04],
       [8.50270034e-01],
       [8.92799911e-02],
       [7.81173682e-03],
       [6.97398543e-04],
       [7.94691590e-02],
       [1.27402557e-01],
       [1.64748705e-02],
       [5.50047936e-02],
       [7.46710433e-03],
       [1.20596437e-01],
       [1.11008566e-01],
       [3.83418298e-03],
       [3.98677580e-03],
       [2.86505173e-01],
       [9.16694489e-04],
       [3.82711938e-02],
       [7.81300041e-03],
       [1.82867990e-01],
       [8.04031026e-01],
       [1.38151100e-01],
       [2.17503238e-02],
       [1.10746411e-01],
       [1.76960379e-01],
       [1.30726454e-03],
       [5.68654837e-02],
       [5.88681581e-02],
       [5.14863611e-01],
       [1.34271227e-01],
       [1.45230687e-01],
       [1.74186911e-01],
       [3.93674846e-03],
       [1.03540153e-01],
       [6.31952258e-03],
       [1.76000508e-01],
       [2.58757290e-01],
       [2.17483155e-01],
       [2.44456603e-03],
       [4.20177690e-03],
       [5.49026619e-02],
       [1.10035402e-01],
       [6.26826394e-03],
       [1.71005769e-03],
       [6.76847376e-03],
       [1.23668472e-02],
       [8.59914188e-02],
       [8.85474687e-04],
       [1.44493377e-01],
       [1.23176668e-01],
       [7.95668692e-04],
       [9.35971081e-03],
       [1.11974115e-03],
       [9.20692354e-02],
       [1.32425846e-01],
       [1.73780373e-01],
       [1.69810300e-01],
       [8.16055476e-04],
       [2.33786281e-03],
       [6.53668194e-02],
       [5.68493271e-01],
       [1.47367470e-01],
       [4.01685404e-02],
       [7.71631659e-02],
       [4.15767136e-03],
       [6.13106693e-03],
       [9.05236136e-03],
       [1.67331457e-01],
       [6.88318259e-03],
       [9.26845060e-01],
       [9.25127076e-04],
       [1.13173963e-01],
       [2.37034596e-03],
       [1.34948841e-01],
       [3.63258444e-02],
       [3.69085517e-02],
       [4.26882749e-03],
       [3.78745629e-03],
       [8.63066741e-04],
       [1.22206611e-01],
       [1.39970782e-03],
       [1.67015797e-01],
       [2.85763418e-02],
       [2.24148756e-03],
       [5.11933489e-02],
       [9.93781926e-01],
       [1.76569047e-01],
       [1.22120552e-01],
       [2.78545412e-01],
       [1.43574157e-01],
       [1.78988287e-01],
       [9.35344203e-04],
       [4.38292091e-03],
       [8.79295422e-01],
       [8.93946840e-03],
       [9.04334002e-02],
       [6.74890364e-02],
       [9.21574142e-04],
       [6.83108734e-03],
       [1.26558963e-01],
       [1.22754578e-01],
       [2.49149573e-01],
       [6.74789743e-01],
       [7.71713069e-04],
       [9.31901628e-04],
       [2.76621738e-02],
       [1.61433161e-01],
       [3.61068188e-02],
       [3.61825082e-03],
       [2.07181940e-02],
       [1.19634499e-01],
       [1.02235938e-01],
       [3.25556812e-03],
       [1.57779843e-01],
       [1.04750575e-01],
       [3.88289999e-03],
       [7.67165216e-04],
       [1.15251624e-02],
       [4.34465813e-03],
       [1.35251593e-01],
       [7.36924429e-04],
       [1.83276270e-01],
       [4.42844763e-03],
       [1.22208567e-03],
       [1.15199828e-02],
       [6.46973136e-03],
       [5.97360756e-02],
       [2.36733012e-03],
       [1.69427716e-02],
       [7.28960137e-01],
       [3.23773463e-02],
       [8.15417466e-03],
       [2.15422354e-01],
       [4.85545823e-02],
       [5.95178905e-02],
       [8.82979802e-04],
       [8.05561252e-02],
       [6.31118445e-03],
       [2.20737769e-01],
       [1.10784949e-01],
       [1.33933468e-01],
       [1.43700180e-01],
       [2.35014881e-03],
       [4.29280419e-01],
       [6.34121555e-02],
       [9.57608677e-02],
       [1.59529287e-01],
       [1.58637417e-02],
       [3.17994278e-03],
       [1.36564105e-02],
       [5.91685121e-02],
       [6.19609683e-03],
       [1.50001552e-03],
       [3.99098742e-02],
       [1.36705903e-01],
       [2.31239156e-03],
       [4.02492823e-03],
       [2.43216100e-01],
       [1.51879772e-01],
       [1.78444576e-01],
       [4.00877340e-03],
       [9.19426478e-04],
       [6.92802571e-02],
       [1.36386137e-03],
       [1.46427909e-01],
       [6.18779051e-03],
       [1.35485782e-01],
       [1.32646279e-01],
       [1.44973321e-01],
       [2.50531555e-03],
       [7.81682201e-03],
       [1.14241603e-02],
       [7.41052511e-01],
       [1.34512795e-02],
       [4.26168982e-03],
       [8.25686640e-03],
       [1.12820992e-01],
       [6.40046925e-03],
       [6.20376659e-02],
       [1.03305494e-01],
       [1.11796644e-01],
       [1.40027447e-01],
       [1.78013117e-01],
       [5.57885534e-03],
       [1.13347600e-01],
       [1.67689075e-02],
       [1.29660236e-02],
       [1.49269771e-01],
       [5.48015518e-02],
       [4.05336370e-02],
       [1.02029230e-01],
       [1.56213727e-01],
       [6.63413548e-03],
       [1.17735730e-01],
       [1.46903889e-01],
       [1.40187505e-01],
       [1.20052024e-01],
       [1.16676808e-03],
       [1.17469697e-02],
       [9.92162912e-02],
       [1.24131434e-01],
       [8.77155185e-01]])

In [87]:
y_test = np.reshape(y_test, (y_pred.shape))

In [88]:
y_test.shape

(463, 1)

In [89]:
c_test = np.reshape(c_test, (y_pred.shape))

In [90]:
c_test.shape

(463, 1)

## On descale les sortie pour comparer les prix en USD

In [92]:
#Une fois les données obtenues, on "descale" les prix pour trouver les vraies valeurs
y_test_descaled = np.squeeze(scaler_dict['close'].inverse_transform(y_test))
y_pred_descaled = np.squeeze(scaler_dict['close'].inverse_transform(y_pred))
c_test_descaled = np.squeeze(scaler_dict['close'].inverse_transform(c_test))

In [74]:
buy_profit  = lambda current, true_futur, pred_futur: true_futur - current if pred_futur > current else 0
sell_profit = lambda current, true_futur, pred_futur: current - true_futur if pred_futur < current else 0
#la gestion de portefeuille n'est pas l'objet de ce projet : on achete une unité d'action (ou de bitcoin ici), et on revend également une unité, independament de ce que cela représente comme part de notre capital.
#la stratégie d'investissement est basique : si on s'attend à ce que les prix augmentent, on achète (dans l'optique de revendre après)
#si on s'attend à ce que les prix diminuent, on vend (et on achète après)

# Calcul des profits

In [93]:
buy_prft = list(map(buy_profit, 
                                c_test_descaled, 
                                y_test_descaled, 
                                y_pred_descaled)
                                
                                )

sell_prft = list(map(sell_profit, 
                                c_test_descaled, 
                                y_test_descaled, 
                                y_pred_descaled)
                                )

In [94]:
buy_prft

[124.829833984375,
 -11.445999145507812,
 45.646972656249886,
 6.464996337890625,
 19.222000122070312,
 0,
 0,
 0,
 -22.56201171875,
 14.152008056640625,
 25.41064453125,
 -23.0369873046875,
 0,
 -9.884994506835938,
 1174.0400390625,
 3467.1328125,
 9.188003540039062,
 913.2099609375,
 16.409011840820312,
 5247.71484375,
 13.33447265625,
 2776.533203125,
 102.87890625,
 0,
 0,
 610.384765625,
 122.85400390625,
 0,
 0,
 0,
 0,
 -24.9739990234375,
 91.18801879882812,
 -56.486328125,
 337.4580078125,
 33.98799133300781,
 2811.65234375,
 -29.1199951171875,
 0,
 4.52301025390625,
 -255.97509765625,
 0,
 11.871002197265625,
 852.60791015625,
 0,
 0,
 320.5166015625,
 10552.068359375,
 0,
 0,
 21.10198974609375,
 3039.326171874998,
 31.891006469726562,
 0,
 22.836975097656136,
 -73.7998046875,
 0,
 0,
 1169.19921875,
 0,
 1585.4443359375,
 0,
 0,
 206.419921875,
 -2.22601318359375,
 110.85003662109375,
 0,
 244.92333984375,
 411.280029296875,
 -184.119140625,
 0,
 0.1820068359375,
 4829.625,
 34.330078125,
 585.2900390625,
 0,
 0,
 37.846008300781364,
 125.5499267578125,
 0,
 1526.830566406251,
 0,
 0,
 0,
 0,
 1935.349609375,
 986.06201171875,
 0,
 2.498992919921875,
 1037.75732421875,
 0,
 1016.59375,
 -5.43994140625,
 708.3569335937509,
 1081.27734375,
 0,
 -55.08984375,
 791.48974609375,
 0,
 0,
 267.31005859375,
 7.6090087890625,
 0,
 0,
 758.55615234375,
 -10.748992919921875,
 848.0869140625,
 1.061004638671875,
 -28.592987060546875,
 4.834991455078125,
 509.140625,
 26.5,
 5363.658203125,
 0,
 180.77099609375,
 18.652008056640625,
 1475.3798828125,
 55.29901123046875,
 0,
 0,
 0,
 0,
 72.70901489257812,
 10741.1484375,
 276.0009765625,
 392.662109375,
 0,
 -193.330078125,
 569.929931640625,
 2488.3193359375,
 1148.18017578125,
 -19.859985351562614,
 4634.8828125,
 3.2079925537109375,
 14.238998413085938,
 788.306640625,
 0,
 0,
 26.548004150390625,
 3613.53125,
 3.8330078125,
 223.4296875,
 16.097991943359375,
 -8.9830322265625,
 0,
 -15.772033691406364,
 0,
 332.365234375,
 -23.976989746093636,
 1098.29833984375,
 2.45001220703125,
 -9.540008544921875,
 0,
 0,
 0,
 3282.671875,
 1058.3427734375,
 0,
 6192.50390625,
 -4.415985107421875,
 189.1510009765625,
 132.91015625,
 15.110000610351562,
 0,
 0,
 7.15899658203125,
 762.83203125,
 -5.83599853515625,
 0,
 1669.5302734375,
 707.69482421875,
 -7.58599853515625,
 0,
 -21.666000366210938,
 6.928985595703125,
 -65.93798828125,
 0,
 0,
 0,
 -0.043975830078125,
 45.3580322265625,
 0,
 0,
 2.576995849609375,
 0,
 49.869873046875,
 19.919982910156364,
 772.7001953125,
 25.2760009765625,
 0,
 99.986328125,
 0,
 -6.878997802734375,
 950.8537597656255,
 827.173828125,
 0,
 293.6787109375,
 40.63201904296875,
 19.506011962890625,
 19.680999755859375,
 4.1790008544921875,
 4979.373046875,
 564.6103515625,
 4534.3359375,
 0,
 2255.5126953125,
 0,
 0,
 0,
 -93.63397216796875,
 0,
 0,
 765.345703125,
 -2.23797607421875,
 -25.10699462890625,
 1911.662109375,
 426.969970703125,
 931.076171875,
 48.0369873046875,
 37.190002441406136,
 0,
 232.3955078125,
 -13.298980712890625,
 216.019775390625,
 0,
 44.7412109375,
 -12.785995483398438,
 0,
 46.773681640625,
 2.5829925537109375,
 0,
 127.88299560546875,
 36.097045898437386,
 1124.7705078125,
 -26.394012451171875,
 618.9501953125,
 16.32501220703125,
 0,
 3211.13037109375,
 0,
 11791.22265625,
 8.727005004882812,
 751.912109375,
 0,
 426.8486328125,
 159.68994140625,
 -22.18017578125,
 111.650390625,
 697.318359375,
 99.14990234375,
 0,
 699.80029296875,
 2725.8544921875,
 23.57598876953125,
 554.64453125,
 0,
 1839.48046875,
 1502.580078125,
 0,
 1222.83984375,
 0,
 112.83203125,
 2.6450042724609375,
 0,
 1602.43017578125,
 134.81201171875,
 0,
 143.4072265625,
 0,
 -29.6300048828125,
 0,
 11.07000732421875,
 2046.62548828125,
 1681.11962890625,
 4.509979248046875,
 -8.072021484375,
 603.73046875,
 6.371002197265625,
 -7.080078125,
 21.90399169921875,
 82.5439453125,
 0,
 0,
 289.9599609375,
 -26.2685546875,
 596.5634765625,
 20.370986938476562,
 0,
 0,
 9046.07421875,
 488.3818359375,
 134.541015625,
 0,
 4.65399169921875,
 0,
 -75.8079833984375,
 0,
 4906.7998046875,
 842.23828125,
 -78.656982421875,
 80.99899291992188,
 108.96875,
 0,
 -76.740966796875,
 10.214996337890625,
 34.416015625,
 160.36199951171886,
 0,
 -1.9770050048828125,
 325.126953125,
 1599.459960937501,
 -8.60699462890625,
 34.997009277343864,
 0.003997802734375,
 561.509765625,
 883.9501953125,
 1862.4541015625,
 0,
 3.0959930419921875,
 -54.108001708984375,
 525.080078125,
 0,
 0,
 0,
 906.3046875,
 19.82501220703125,
 0,
 46.292968750000114,
 0,
 16.833984375,
 7664.203125,
 5.194000244140625,
 22.35205078125,
 8.040008544921875,
 954.56689453125,
 -40.110107421875,
 71.710205078125,
 14.093994140625,
 0.93402099609375,
 2.9470062255859375,
 0,
 -18.597015380859375,
 0,
 232.34997558593727,
 -12.860015869140625,
 693.489990234375,
 4351.140625,
 0,
 0,
 2484.7744140625,
 372.5185546875,
 1507.599609375,
 8.048004150390625,
 -9.667999267578125,
 0,
 32.676025390624886,
 179.240234375,
 0,
 0,
 2.050048828125,
 1207.02392578125,
 1209.830078124999,
 375.7392578125,
 0,
 0,
 0.9629974365234375,
 0,
 0,
 -222.22998046875,
 17.636016845703125,
 282.8800048828125,
 0,
 8.10009765625,
 9.81500244140625,
 0,
 0,
 -14.808990478515625,
 -38.39900207519531,
 -0.64703369140625,
 20.24700927734375,
 861.111328125,
 -33.20701599121094,
 537.7890625,
 13.8489990234375,
 8.462997436523438,
 122.70300292968761,
 -67.2459716796875,
 64.5361328125,
 58.552001953125,
 171.030029296875,
 0,
 0,
 119.49200439453125,
 0,
 0,
 275.890869140625,
 -6.2779998779296875,
 0,
 0,
 0,
 2.4404296875,
 461.7978515625,
 87.11328125,
 15.842987060546875,
 3492.60546875,
 851.230224609375,
 1003.75537109375,
 0,
 136.9100341796875,
 -0.67498779296875,
 141.3580322265626,
 0,
 -7.81597900390625,
 37.11500549316406,
 45.780029296875,
 0,
 -13.615997314453125,
 -29.3389892578125,
 2504.6005859375,
 437.353515625,
 2000.4912109375,
 14.686004638671875,
 12.91400146484375,
 477.639892578125,
 -20.17999267578125,
 -214.8310546875,
 0,
 0,
 0,
 415.78125,
 -66.66400146484375,
 6.5830078125,
 79.7440185546875,
 9633.42578125,
 137.2230224609375,
 -13.449981689453125,
 68.14398193359375,
 197.8583984375,
 0,
 19.183837890625,
 520.25,
 0,
 0,
 268.0400390625,
 88.197998046875,
 0,
 0,
 -12.618957519531364,
 0,
 160.4853515625,
 27.889892578125,
 389.9599609375,
 0,
 18.02996826171875,
 277.8798828125,
 -48.9599609375,
 0,
 361.14990234375,
 13.729995727539062,
 141.427978515625,
 -19.3701171875,
 1479.279785156249,
 0]

In [95]:
sell_prft

[0,
 0,
 0,
 0,
 0,
 43.0699462890625,
 61.1201171875,
 989.87939453125,
 0,
 0,
 0,
 0,
 83.83984375,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 975.81005859375,
 15077.05859375,
 0,
 0,
 289.9140625,
 285.759765625,
 2184.490234375,
 514.6125488281255,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 315.2294921875,
 0,
 0,
 664.6123046875,
 0,
 0,
 245.5166015625,
 983.248046875,
 0,
 0,
 115.6552734375,
 342.14013671875,
 0,
 0,
 0,
 463.1098632812509,
 0,
 0,
 61.2041015625,
 -28.1640625,
 0,
 109.38037109375,
 0,
 547.7197265625,
 7.81201171875,
 0,
 0,
 0,
 1464.9501953125,
 0,
 0,
 0,
 -2.1594238281245453,
 0,
 0,
 0,
 0,
 -25.469970703125,
 5358.73046875,
 0,
 0,
 -97.5546875,
 0,
 1033.8779296875,
 9.47021484375,
 397.435546875,
 420.130859375,
 0,
 0,
 12.1710205078125,
 0,
 0,
 1011.5869140625,
 0,
 0,
 0,
 0,
 7161.859375,
 0,
 0,
 1599.19921875,
 -631.785400390625,
 0,
 0,
 -156.310546875,
 6.31500244140625,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -107.87646484375045,
 0,
 0,
 0,
 0,
 -47.4697265625,
 94.59814453125,
 311.0,
 5289.0,
 0,
 0,
 0,
 0,
 -41.1875,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1884.23974609375,
 676.3779296875,
 0,
 0,
 0,
 0,
 0,
 0,
 364.3955078125,
 0,
 1667.58984375,
 0,
 0,
 0,
 0,
 0,
 1732.451660156251,
 677.51953125,
 8357.96484375,
 0,
 0,
 94.6611328125,
 0,
 0,
 0,
 0,
 0,
 924.8203125,
 319.099609375,
 0,
 0,
 0,
 1159.7158203125,
 0,
 0,
 0,
 -17.010009765625,
 0,
 0,
 0,
 636.3022460937491,
 373.008544921875,
 -135.87646484375,
 0,
 0,
 -169.34375000000045,
 2294.8505859375,
 0,
 1795.8203125,
 0,
 0,
 0,
 0,
 1737.482421875,
 0,
 -125.927490234375,
 0,
 0,
 0,
 8131.1796875,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 268.48876953125,
 0,
 80.39898681640625,
 156.154541015625,
 -366.30078125,
 0,
 580.4501953125,
 -25.35601806640625,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2162.2294921875,
 0,
 0,
 0,
 421.2626953125,
 0,
 0,
 905.6484375,
 0,
 0,
 1028.25830078125,
 0,
 0,
 0,
 0,
 0,
 0,
 739.009765625,
 0,
 25.93994140625,
 0,
 0,
 0,
 281.69921875,
 0,
 0,
 0,
 0,
 0,
 0,
 4980.46875,
 0,
 0,
 0,
 0,
 251.41796875,
 0,
 0,
 -124.099609375,
 0,
 5248.716796875,
 0,
 0,
 7551.03515625,
 0,
 0,
 41.20899963378906,
 0,
 1952.3330078125,
 0,
 282.1083984375,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 12409.8046875,
 -95.8203125,
 0,
 0,
 0,
 0,
 1796.419921875,
 216.989990234375,
 0,
 0,
 0,
 1807.6806640625,
 0,
 890.10009765625,
 0,
 931.0048828125,
 0,
 0,
 0,
 0,
 0,
 1345.8583984375,
 0,
 0,
 0,
 0,
 830.18017578125,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3049.19921875,
 0,
 0,
 0,
 646.22265625,
 1405.853515625,
 225.919921875,
 0,
 0,
 94.92999267578125,
 0,
 174.5634765625,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2048.6904296875,
 0,
 220.4677734375,
 0,
 0,
 0,
 0,
 2412.599609375,
 651.02392578125,
 0,
 0,
 0,
 0,
 0,
 1890.37890625,
 0,
 0,
 1957.35009765625,
 -11.875,
 0,
 0,
 0,
 0,
 15894.375,
 6.4340057373046875,
 0,
 678.7401123046875,
 1569.5634765625,
 0,
 0,
 0,
 3686.7001953125,
 0,
 0,
 1318.7958984375,
 1397.93017578125,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2860.109375,
 290.25,
 0,
 3609.7001953125,
 268.2626953125,
 0,
 0,
 -43.78857421875,
 -10.52099609375,
 1646.5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1043.0458984375,
 0,
 0,
 0,
 301.090087890625,
 0,
 0,
 0,
 541.9609375,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3.26898193359375,
 503.31640625,
 689.5859375,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2.17303466796875,
 0,
 0,
 -81.25048828125,
 434.8642578125,
 0,
 0,
 1012.9501953125,
 15.1500244140625,
 0,
 507.3857421875,
 0,
 0,
 0,
 339.734375,
 0,
 0,
 0,
 144.05859375,
 0,
 0,
 0,
 0,
 0,
 2520.73828125]

In [96]:
# on calcule l'accuracy en regardant la proportion de profit positif
accuracy = (len([e for e in sell_prft if e > 0]) + len([e for e in buy_prft if e > 0])) / len(y_pred)

In [97]:
tot_buy_profit  = sum(buy_prft)
tot_sell_profit = sum(sell_prft)
tot_profit = tot_buy_profit + tot_sell_profit
profit_per_trade = tot_profit / len(y_pred)

In [98]:
tot_profit, profit_per_trade

(408729.9564361572, 882.7860830154584)

In [81]:
accuracy

0.8099352051835853